@import '../styles/variables.less';

.motif-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;

  th,
  td {
    padding: 8px 12px;
    border-bottom: 1px solid var(--border);
  }

  th {
    color: var(--text-h);
    font-weight: 500;
    white-space: nowrap;
  }
}
